extends ../../../layouts/panelLayout.jade

//header
block header
  | {{user.name}}, select a song... or join a game


//content
block content
  +form({id:'selectSongForm'})
    +input-group
      select.form-control(ng-model='selectedSong' ng-options='song.src as song.label for song in songs')
      span.input-group-btn
        input.btn.btn-primary.btn-lg(id="selectSongSubmit" type="submit" ng-click="selectSong()" value="Select Song")

    hr
    +input-group()
      input.form-control(id="gameURLText" type="text" ng-model='join.contact')
      span.input-group-btn
        input.btn.btn-primary.btn-lg(id="joinGameSubmit" type="submit" ng-click="joinGame(join)" value="Join Game")