div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Play my band!
    //- p.lead Kick-start your next web app with Angular Fullstack
      img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      div(ui-view='')

footer.footer
  .container
    p(style="color:#fff")
      | Powered by Jaime Casero, Carlos Torrenti and Carlos Verdes
      //
        = ' | '
        a(href='https://twitter.com/tyhenkel') @tyhenkel
        = ' | '
        a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues