include ../mixins/formMixins.jade

.col-md-10.col-md-offset-1
  .panel(style="margin-top:100px;width: 1168px;margin:0 auto;")
    h1.page-header 
      block header
    div(style="width: 1168px;height:532px;margin:0 auto;")
      block content