extends ../../../layouts/panelLayout.jade

//header
block header
  | WaitingPlayers({{$root.pMBplayers}}), wait until host starts the game...  


//content
block content
  +form({id:'selectSongForm'})
    +progress-bar