// var divStyle='text-align:center;border:1px dashed red;'; 
- var divStyle=''; 
.col-md-12
    h1.page-header(ng-controller='PlayingCtrl') Playing, GlobalScore={{globalScore}}

    div.col-md-4.col-sm-12(canvas-midi="idUserCanvas",style=divStyle)
    div.col-md-4.col-sm-12(canvas-midi="idOtherUserCanvas",style=divStyle)
    div.col-md-4.col-sm-12(canvas-midi="idThirdUserCanvas",style=divStyle)
    div.col-md-12.col-sm-12
      pre Global Score= {{globalScore}}
