extends ../../layouts/panelLayout.jade

//header
block header
  | Register player to start game!!


//content
block content
  +form({id:'userForm'})
    +input-group
      input.form-control(id="playerName" type='text' ng-model='user.name' required , placeholder="Player name...")
      span.input-group-btn
        input.btn.btn-primary.btn-lg(id="registerSubmit", type="button", ng-click="registerPlayer(user)" value="Register")
  form(action='rest/googleRegister' method='get')
    span.input-group-btn
      input.btn.btn-primary.btn-lg(id="googleSubmit", type="submit",  value="LoginWithGoogle")  
  form(action='rest/facebookRegister' method='get')
    span.input-group-btn
      input.btn.btn-primary.btn-lg(id="facebookSubmit", type="submit", value="LoginWithFacebook")  