.col-md-12()
	h1.page-header Select a Song...
	div.col-lg-4()
		form(id="selectSongForm")
			select(ng-model='selectedSong' ng-options='song.src as song.label for song in songs')
			input(id="selectSongSubmit" type="submit" ng-click="selectSong()" value="Select Song")
	h1.page-header Join existing game...
	div.col-lg-4()
		form(id="joinGameForm")
			input(id="gameURLText" type="text" ng-model='join.contact')
			input(id="joinGameSubmit" type="submit" ng-click="joinGame(join)" value="Join Game")