extends ../../layouts/panelLayout.jade

//header
block header
  | WaitingPlayers({{$root.pMBplayers}}), Press start to start the game...

//content
block content
  +form({id:'startGameForm'})
    +input-group()
      input.btn.btn-primary.btn-lg(id="startGameSubmit" type="submit" ng-click="startGame()" value="Start Game")
    hr
    +input-group
      +progress-bar